/* Root Layout */
    .root {
        -fx-font-family: "Segoe UI", sans-serif;
        -fx-background-color: #ffffff;
    }
    .sidebar {
        -fx-background-color: #ffffff;
    }
    .sidebar-box {
        -fx-background-color: #ffffff;
        -fx-padding: 10;
        -fx-border-color: #e0e0e0;
        -fx-border-width: 1;
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 5, 0.3, 0, 2);
    }
    .sidebar-button {
        -fx-background-color: transparent;
        -fx-text-fill: #555;
        -fx-font-size: 16px;
        -fx-pref-width: 180;
        -fx-alignment: CENTER_LEFT;
        -fx-padding: 8 12;
    }
    .sidebar-button:hover {
        -fx-background-color: #f06931;
        -fx-text-fill: white;
        -fx-cursor: hand;
        -fx-background-radius: 10;
        -fx-font-weight: bold;
    }
    .sidebar-button:focused {
        -fx-background-color: #f06931;
        -fx-text-fill: white;
    }
/* Logout Button */
    .logout-button {
        -fx-background-color: #f06931;
        -fx-text-fill: white;
        -fx-background-radius: 20;
        -fx-pref-width: 140;
        -fx-font-weight: bold;
        -fx-padding: 10 20;
    }
    .logout-button:hover {
        -fx-background-color: #cf6e3b;
    }
/* Dashboard Main Area */
    .dashboard-title {
        -fx-font-size: 28px;
        -fx-text-fill: #f26c2f;
        -fx-font-weight: bold;
    }
    .input-field {
        -fx-background-color: #fdfdfd;
        -fx-border-color: #d9d9d9;
        -fx-border-radius: 8;
        -fx-padding: 10;
        -fx-font-size: 14px;
        -fx-effect: innershadow(gaussian, rgba(0,0,0,0.03), 2, 0.0, 0, 1);
}
    .main-button {
        -fx-background-color: linear-gradient(to right, #f26c2f, #f0912f);
        -fx-text-fill: white;
        -fx-background-radius: 20;
        -fx-padding: 10 20;
        -fx-font-weight: bold;
        -fx-font-size: 15px;
        -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.1, 0, 1);
}
    .main-button:hover {
        -fx-background-color: linear-gradient(to right, #cf6e3b, #dd8a2f);
    }
    .message-label {
        -fx-font-size: 16px;
        -fx-text-fill: #f26c2f;
        -fx-padding: 10;
}
/* Table Styles */
    .admin-table {
        -fx-background-color: #f9f9f9;
        -fx-border-color: #e0e0e0;
        -fx-border-width: 1;
        -fx-background-radius: 5;
    }
    .admin-table .table-column-header {
        -fx-background-color: #f26c2f;
        -fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-alignment: CENTER;
    }
    .admin-table .table-row-cell:hover {
        -fx-background-color: #f0f0f0;
    }
    .admin-table .table-row-cell:filled:selected {
        -fx-background-color: #cce5ff;
    }
    .admin-table .table-row-cell:filled:selected:hover {
        -fx-background-color: #b2d7ff;
    }
