/* Linker Bereich */
.left-panel {
    -fx-background-color: #F06931;
}

.headline {
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.subtext {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Rechter Bereich */
.right-panel {
    -fx-background-color: white;
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #F06931;
}

.subtitle {
    -fx-font-size: 16px;
    -fx-text-fill: #F06931;
}

/* Eingabefelder */
.input-field {
    -fx-background-color: #F8FAFA;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-pref-width: 250px;
    -fx-padding: 10;
}

/* Button */
.login-button {
    -fx-background-color: #F06931;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 10 20;
    -fx-pref-width: 200px;
}

/* Hyperlink */
.forgot-link {
    -fx-text-fill: #F06931;
    -fx-underline: true;
}
